@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

html, body {
  min-height: 100%
}

body {
  background-image: url('/src/Images /background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  margin: 0; 
}

.background {
  width: 430px;
  height: 450px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.background .shape {
  height: 300px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}

.log_form {
  height: 400px;
  width: 400px;
  background-color: rgba(58, 58, 58, 0.618);
  position: absolute;
  transform: translate(-40%, -40%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 50px;
}
.log_form * {
  font-family: 'Urbanist', sans-serif;
  /* font-family: 'Urbanist', sans-serif; */
  font-weight: 200;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
  width: 95%;
  font-size: 1.7em;
}

.log_form h3 {
  font-size: 32px;
  font-family: 'Urbanist', sans-serif;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label {
  font-family: 'Urbanist', sans-serif;
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

input {
  display: block;
  height: 50px;
  width: 120%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 5px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-family: 'Urbanist', sans-serif;
  font-weight: 300;
}

::placeholder {
  color: #e5e5e5;
}

.log_button {
  margin-top: 50px;
  width: 100%;
  background-color: #0e5724;
  font-family: 'Urbanist', sans-serif;
  color: #ffffff;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.form_heading {
  display: block;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: bolder;
}