.recipe_info{
  width: 60%;
  margin: 0 auto; 
  padding: 20px; 
  border: 1px solid #ccc; 
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  background-color: rgba(50, 50, 50, 0.624);
  backdrop-filter: blur(10px);
  color: white
}

.recipe_info section {
  margin-bottom: 20px; 
}

.recipe_info section div {
  margin-bottom: 8px; 
}