@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

.small-logo {
  width: 220px;
  height: 70px;
  margin-right: auto;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 10%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  justify-content: space-around;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}
.navbar {
  display: flex;
}

.navbar a {
  font-family: 'La Belle Aurore', cursive;
  font-size: 18px;
  color: #000000;
  font-weight: 500;
  text-decoration: none;
  margin-left: 20px;
  position: relative;
}

.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background:  #fbfbfb;
  transition: .3s;
}

.navbar a:hover::before {
  width: 100%;
}