.big_break {
  margin-top: 5rem;
}
.media-scroll {
  --_spacer: 1rem;
  display: grid;
  gap: 35px;
  grid-auto-flow: column;
  grid-auto-columns: 20%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  background-color: rgba(40, 39, 39, 0.691);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  color: white;
  margin-left: 32px;
  margin-right: 32px;

}

.small-recipe-card {
  display: grid;
  gap: 25px;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  margin: auto;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
}
.snaps-inline > * {
  scroll-snap-align: start;
}

.small-recipe-card-name {
  font-size: 1.7em
}

.small-recipe-card-img {
  width: 15vw;
}

.scroll-to-see-more-text {
  color: white;
  font-size: 1.5em
}

@media screen and (max-width: 750px) {
  
  .small-recipe-card-name {
    font-size: 1.3em
  }

  .scroll-to-see-more-text {
    font-size: 1.2em;
  }
}