div.scroll {
  background-color: rgba(30, 30, 30, 0.597);
  width: 80vw;
  height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  margin-left: 10%;
  margin-top: 5px;
  border-radius: 8px;
  color: white;
  backdrop-filter: blur(16px);
}

img.filtered-page-img {
  width: 30%
}

h2 {
  font-size: 1.5em
}
